flows.json
[{"id":"295b0f01.564f9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"239c5225.d8063e","type":"function","z":"295b0f01.564f9","name":"Process results","func":"result=[];\nmsg.result.images[0].classifiers.forEach(function(current_value, index, initial_array) {\n          current_value.classes.forEach(function(current_value,index,initial_array){\n              result.push(current_value.class);\n          });\n        });\nmsg.verbal=result.toString();\nreturn msg;","outputs":1,"noerr":0,"x":548.8933410644531,"y":364.6071472167969,"wires":[["699bcafd.ec7624"]]},{"id":"fac1c5e0.127988","type":"http in","z":"295b0f01.564f9","name":"","url":"/upload","method":"get","upload":false,"swaggerDoc":"","x":121.42855834960938,"y":158.57147216796875,"wires":[["c822da23.362008"]]},{"id":"c822da23.362008","type":"template","z":"295b0f01.564f9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<center>\n    <h1>Upload an image here:</h1>\n<form action=\"/uploadsimple_post\" method=\"POST\" enctype=\"multipart/form-data\">\n    <input type=\"file\" name=\"myFile\" />\n    <input type=\"submit\" value=\"Submit\">\n</form>\n</center>","output":"str","x":324.2858581542969,"y":165.71426391601562,"wires":[["93a2c142.efecc"]]},{"id":"93a2c142.efecc","type":"http response","z":"295b0f01.564f9","name":"","x":484.2858581542969,"y":165.71426391601562,"wires":[]},{"id":"c6f7e93b.28c788","type":"http response","z":"295b0f01.564f9","name":"","statusCode":"","headers":{},"x":1043.7501220703125,"y":571.25,"wires":[]},{"id":"e3899f6d.d5b17","type":"template","z":"295b0f01.564f9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<center>\n<h1>Image Analysed!</h1>\n<pre>\n{{{payload}}}\n</pre>\n<h4>Classification results:</h4>\n<p>{{verbal}}</p>\n<h1>{{action}}</h1>\n</center>","output":"str","x":959.385009765625,"y":504.80169677734375,"wires":[["c6f7e93b.28c788"]]},{"id":"b373e12c.67981","type":"function","z":"295b0f01.564f9","name":"process image output","func":"if (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload = `<img src=\"data:image/gif;base64,${msg.payload.toString('base64')}\">`;\n} else {\n    msg.payload = msg.payload.toString();\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":773.5359497070312,"y":447.0357666015625,"wires":[["e3899f6d.d5b17","b020e751.b19958"]]},{"id":"79933653.592d48","type":"http in","z":"295b0f01.564f9","name":"","url":"/uploadsimple_post","method":"post","upload":true,"swaggerDoc":"","x":133.57144165039062,"y":251.60714721679688,"wires":[["663b355a.50d35c"]]},{"id":"663b355a.50d35c","type":"change","z":"295b0f01.564f9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":133.9287109375,"y":351.0713806152344,"wires":[["710bfcdd.d6d434"]]},{"id":"710bfcdd.d6d434","type":"visual-recognition-v3","z":"295b0f01.564f9","name":"Fire detection","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":322.2859191894531,"y":383.21429443359375,"wires":[["239c5225.d8063e"]]},{"id":"699bcafd.ec7624","type":"function","z":"295b0f01.564f9","name":"trigger action","func":"if (msg.verbal.includes(\"fire\")){\n    msg.action=\"Fire Detected:Triggering Fire rescue\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":739.2859497070312,"y":334.2856750488281,"wires":[["b373e12c.67981"]]},{"id":"b020e751.b19958","type":"switch","z":"295b0f01.564f9","name":"","property":"action","propertyType":"msg","rules":[{"t":"cont","v":"Fire","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":975.71435546875,"y":417.1428527832031,"wires":[["160f01f2.c50e8e"]]},{"id":"160f01f2.c50e8e","type":"function","z":"295b0f01.564f9","name":"","func":"var msg;\nmsg.payload=\"1\";\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":340,"wires":[["f6369cba.f6dbd","3f298af.334e676"]]},{"id":"f6369cba.f6dbd","type":"debug","z":"295b0f01.564f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1300,"y":420,"wires":[]},{"id":"3f298af.334e676","type":"mqtt out","z":"295b0f01.564f9","name":"","topic":"","qos":"","retain":"","broker":"43895e49.277c8","x":1310,"y":140,"wires":[]},{"id":"43895e49.277c8","type":"mqtt-broker","z":"","name":"","broker":"https://test.mosquitto.org ","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]